.header-inner 
	+outer-container()
.logo
	+position(absolute, 40px null null null)
	display: inline-block
	.logo__a--main 
		background-repeat: no-repeat
		display: inline-block
		+size(209px 201px)
		+background-image(url("../images/logo.png"))
